.form{
    background-color: rgb(255, 115, 0);
    background-blend-mode: hard-light;
    width: 80vw;
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: white;
}

.form .identity{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.identity input{
    height: 1.5rem;
    border-style: solid;
    border-color: white;
    border-radius: 0.4rem;
    background: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

.form .isi{
    width: inherit;
}

.form .isi input::-webkit-input-placeholder{
    color: white;
    text-align: center;
    opacity: 70%;
}

.form .isi textarea::-webkit-input-placeholder{
    color: white;
    text-align: center;
    opacity: 70%;
}

.saran{
    padding-bottom: 1rem;
}

.form p{
    text-align: justify;
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .modalContent button {
    background-color: #ff7300;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }