/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/kuisioner/Kuisioner.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Kuisioner_form__UiB3P{
    background-color: rgb(255, 115, 0);
    background-blend-mode: hard-light;
    width: 80vw;
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: white;
}

.Kuisioner_form__UiB3P .Kuisioner_identity__0Sv_X{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.Kuisioner_identity__0Sv_X input{
    height: 1.5rem;
    border-style: solid;
    border-color: white;
    border-radius: 0.4rem;
    background: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

.Kuisioner_form__UiB3P .Kuisioner_isi__YbsMq{
    width: inherit;
}

.Kuisioner_form__UiB3P .Kuisioner_isi__YbsMq input::-webkit-input-placeholder{
    color: white;
    text-align: center;
    opacity: 70%;
}

.Kuisioner_form__UiB3P .Kuisioner_isi__YbsMq textarea::-webkit-input-placeholder{
    color: white;
    text-align: center;
    opacity: 70%;
}

.Kuisioner_saran__D0FGx{
    padding-bottom: 1rem;
}

.Kuisioner_form__UiB3P p{
    text-align: justify;
}
