/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/Mekanik/Mekanik.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/SK1/Sk1.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/SK2/Sk2.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/SK3/Sk3.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/SK4/Sk4.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/SK5/Sk5.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/SK6/Sk6.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/components/Loading/Loading.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.Loading_spinner__cthw3 {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  
  .Loading_spinnerItem__8_qTd {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ff7d04;
    border-radius: 50%;
    animation: Loading_spinnerAnimation__KD4AU 1.2s linear infinite;
  }
  
  .Loading_spinnerItem__8_qTd:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  
  .Loading_spinnerItem__8_qTd:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  
  .Loading_spinnerItem__8_qTd:nth-child(3) {
    top: 6px;
    left: 46px;
    animation-delay: -0.8s;
  }
  
  .Loading_spinnerItem__8_qTd:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  
  @keyframes Loading_spinnerAnimation__KD4AU {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/dashboard/Dashboard.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Dashboard_dashboard__H26Qw{
    background-color: black;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.7rem;
}

.Dashboard_dashboard__H26Qw button{
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 10px;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    height: -moz-fit-content;
    height: fit-content;
}

.Dashboard_dashboard__H26Qw h4{
    font-size: large;
    font-weight: 500;
    height: -moz-fit-content;
    height: fit-content;
}

.Dashboard_d1__FLSTe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
}

.Dashboard_d2__5Aodx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
}

.Dashboard_mekanik__4UyNf{
    width: 47.5%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    align-content: center;
}

.Dashboard_sk1__kp_DN{
    width: 22%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Dashboard_sk2__A9Jqw{
    width: 22%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Dashboard_sk3__9aQny{
    width: 22%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Dashboard_sk4__o2CLi{
    width: 22%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Dashboard_sk5__KNuNq{
    width: 22%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Dashboard_sk6__vJwT7{
    width: 22%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Dashboard_data__AjwTZ{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 30px;
    border-radius: 1rem;
}

.Dashboard_data__AjwTZ h4{
    font-weight: bold;
}

.Dashboard_tabel__ZawKH{
    width: 70%;
}

.Dashboard_tabel__ZawKH h4{
    text-align: center;
}

.Dashboard_jml_kustomer__GbfiI{
    width: 25%;
    background-color: rgb(255, 94, 0);
    padding: 10px;
    border-radius: 1rem;
    color: white;
    text-align: center;
}

.Dashboard_jml_kustomer__GbfiI div div{
    font-size: 10rem;
}

.Dashboard_jml_kustomer__GbfiI div p{
    font-size: larger;
    margin-top: -2rem;
}

.Dashboard_jml_kustomer__GbfiI div{
    height: 70%;
    align-items: center;
    align-content: center;
}
